
/* Head Component css */
.head {
  margin-top: 20px;
  padding: 20px 0;
  color: red;
  display: inline;
  font-size: large;
}

.logo p {
  display: inline;
  font-size: 25px;
  font-weight: 900;
  width: 100%;
  text-align: justify;
  height: 5px;
}

.icons-social div {
  float: right;
  display: flex;
  flex-direction: row;
}
